$shadow--navbar: 0px 5px 22px rgba(0, 0, 0, 0.1);
$shadow--btns: 0px 4px 8px rgba(0, 0, 0, 0.1);
$shadow--btns-hover: 0px 12px 12px rgba(0, 0, 0, 0.1);
$shadow--basic: 0px 14px 25px rgba(0, 0, 0, 0.2);
